<h2 class="text-center">Museums List</h2>

<% museums.forEach(museum => { %>
  <div>
    <a href="/museums/<%=museum._id %>"><%= museum.name %></a>
    <image src=<%=museum.image%> />
  </div>
<% }) %>
