<h2 class="text-center text-primary">Register a New Museum</h2>

<!--Add a form for making a new museum. Should post to /museums -->
<form action="/museums" method="POST">
    <div class="form-group">
        <label for="name">Museum Name</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" />

        <label for="Country">Country</label>
        <input type="text" class="form-control" id="Country" name="Country" />
    </div>
    <div class="form-group">
        <label for="image">Add image link</label>
        <input type="text" class="form-control" id="image" name="image" />
    </div>
    <input type="submit" value="Register"/>
</form>
